/* Global */
body {
    font-family: Montserrat !important;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
.text-align-left{
    text-align: left;
}
.text-align-right{
    text-align: right;
}
.text-align-center{
    text-align: center;
}

/* Header */
.navbar-default {
    background-color: #ffffff;
    border-color: #ffffff;
}
.navbar-default .navbar-nav>li>a {
    color: #555;
    font-weight: 500;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #2595BF;
    background-color: transparent;
}
.navbar .logo img{
    width: 214px;
    height: auto;
    margin: 15px;
}
.navbar .navbar-nav{
    text-align: right;
    float: right;
    margin-top: 20px;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #1A95C1;
    background-color: #ffffff;
}
.navbar-default .social{
    margin-top: 35px;
}
.navbar-default .social-links{
    text-align: center;
}
.navbar-default .social-links li{
    width: 30px;
    height: 35px;
    float: left;
    text-decoration: none;
    list-style: none;
    margin-right: 5px;
}
.navbar-default .social-links li:last-child{
    margin-right: 0px;
}
.navbar-default .social-links li a{
    line-height: 35px;
    font-size: 20px;
    color: #1A95C1;
}


/* FAQ Tutor Page */

#faq-tutor-page .parallax {
        background-image: url(../images/bgimage.jpg);
    height: 352px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 88px;
}

#faq-tutor-page .parallax .overlay{
    width: 100%;
    height: 352px;
    background: rgba(0, 0, 0, .5);
}
#faq-tutor-page .parallax .page-title-h1{
    color:#fff;
    font-size: 90px;
    font-weight: 500;
    padding-top: 120px;
    margin-left:100px;
}
/* ================================================================== */

/* Footer */
footer{
    color: #fff;
}
footer h3 {
    font-size: 25px;
}

footer .bg_color{
    width:100%;
    background-color:#2595BF;
        padding: 10px 0;
}

footer li{
    text-decoration: none;
    list-style: none;
}

footer i{
    width: 30px;
    font-size: 20px !important;
    height: 35px;
    list-style: none;
    margin-right: 5px;
}
.border_bottom{
    border-bottom: 1px solid #E0E0E0;
    margin-top: 25px;
    margin-bottom: 25px;
}
.heading{
    font-size: 25px;
    color: rgba(54, 73, 87, 1);
    font-weight: 500;
    font-family: 'Montserrat';
    padding-bottom: 20px;
}
.paragraph{
    font-weight: 400;
    font-family: 'Montserrat';
}
