/* Global */
body {
    font-family: Montserrat !important;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
.text-align-left{
    text-align: left;
}
.text-align-right{
    text-align: right;
}
.text-align-center{
    text-align: center;
}

.grey-text, p.paragraph_privacy{
    color: #666666;
}

.flexslider{
    margin: 0;
    border: none;
}
.flex-viewport {
    /*width: 100%;*/
    height: 352px;
}
.privacy_margin{
	margin-top:70px;
}

/*.flexslider .slides img {
    width: 100%;
    height: 200px;
}*/
/* Header */
.navbar-default {
    background-color: #ffffff;
    border-color: #ffffff;
}
.navbar-default .navbar-nav>li>a, ul.dropdown-menu>li>a {
    color: #555;
    font-weight: 500;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #2595BF;
    background-color: transparent;
}
.navbar .logo img{
    width: 214px;
    height: auto;
    margin: 15px;
}
.navbar .navbar-nav{
    text-align: right;
    float: right;
    margin-top: 20px;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #1A95C1;
    background-color: #ffffff;
}
.navbar-default .social{
    margin-top: 35px;
}
.navbar-default .social-links{
    text-align: center;
}
.navbar-default .social-links li{
    width: 30px;
    height: 35px;
    float: left;
    text-decoration: none;
    list-style: none;
    margin-right: 5px;
}
.navbar-default .social-links li:last-child{
    margin-right: 0px;
}
.navbar-default .social-links li a{
    line-height: 35px;
    font-size: 20px;
    color: #1A95C1;
}

/* Navigation Dropdown */
ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;    
}

ul.dropdown-menu{
    border: 1px solid #000;
    border-radius: 0;
}

ul.dropdown-menu>li{
    padding: 5px;
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    background-color: #ffffff;
}

/* FAQ Tutor Page */

#faq-tutor-page .parallax {
        background-image: url(../images/bgimage.jpg);
    height: 352px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 88px;
}

#faq-tutor-page .parallax .overlay{
    width: 100%;
    height: 352px;
    background: rgba(0, 0, 0, .5);
}
#faq-tutor-page .parallax .page-title-h1{
    color:#fff;
    font-size: 90px;
    font-weight: 500;
    padding-top: 120px;
    margin-left:100px;
}
/* ================================================================== */
/* PRIVACY POLICY Page */
#privacy-policy-page p{
    color: #666666;
}
#privacy-policy-page .parallax {
    background-image: url(../images/bgimage.jpg);
    height: 352px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 88px;
}
#privacy-policy-page .parallax .overlay{
    width: 100%;
    height: 352px;
    background: rgba(0, 0, 0, .5);
}
#privacy-policy-page .parallax .page-title-h1{
    color:#fff;
    font-size: 90px;
    font-weight: 500;
    padding-top: 120px;
    margin-left:100px;
}
#privacy-policy-page .privacy_margin{
	margin-top:70px;
}
#privacy-policy-page .paragraph_privacy{
	margin: 20px 0 20px 0;
}
/* ================================================================== */
/* FAQ Page */
#faqs-studentsparents-page .parallax {
        background-image: url(../images/bgimage.jpg);
    height: 352px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 88px;
}
#faqs-studentsparents-page .parallax .overlay{
    width: 100%;
    height: 352px;
    background: rgba(0, 0, 0, .5);
}
#faqs-studentsparents-page .parallax .page-title-h1{
    color:#fff;
    font-size: 90px;
    font-weight: 500;
    padding-top: 120px;
    margin-left:100px;
}



/* ================================================================== */
/* Terms Conditions Page */
#terms-conditions-page .parallax {
    background-image: url(../images/bgimage.jpg);
    height: 352px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 88px;
}

#terms-conditions-page .parallax .overlay{
    width: 100%;
    height: 352px;
    background: rgba(0, 0, 0, .5);
}
#terms-conditions-page .parallax .page-title-h1{
    color:#fff;
    font-size: 90px;
    font-weight: 500;
    padding-top: 120px;
    margin-left:100px;
}

#terms-conditions-page .privacy_margin{
	margin-top:70px;
}
#terms-conditions-page .paragraph_privacy{
	margin: 20px 0 20px 0;
}


/* ================================================================== */
/* for-students-or-parents page */
#for-students-or-parents-page .slider {
        /*background-image: url(../images/bgimage.jpg);*/
    height: 352px;
/*    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;*/
    margin-top: 88px;
}





/* ================================================================== */
/* Footer */
footer, footer a{
    color: #fff;
}
footer,footer a:hover {
    color: #fff;
    text-decoration: underline;
}
footer,form, .form_class{
	margin-top: 25px;
}
form class, .email_addr{
	background-color: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    width: 260px;
}
form class, .subs_btn{
	padding: 10px 90px 10px 90px;
    color: #2595BF;
    border: none;
    background-color: #fff;
    font-size: 16px;
    font-weight: 500;
	margin-top: 15px;
}
input::placeholder {
  color: #fff;
}
footer h3 {
    font-size: 25px;
}

footer .bg_color{
    width:100%;
    background-color:#2595BF;
        padding: 10px 0;
}

footer li,footer a{
    text-decoration: none;
    list-style: none;
}

footer i{
    width: 30px;
    font-size: 20px !important;
    height: 35px;
    list-style: none;
    margin-right: 5px;
}
.border_bottom1{
    border-bottom: 1px solid #E0E0E0;
    margin-top: 25px;
    margin-bottom: 30px;
}
.border_bottom{
    border-bottom: 1px solid #E0E0E0;
    margin-top: 35px;
    margin-bottom: 35px;
}
.heading{
    font-size: 25px;
    color: rgba(54, 73, 87, 1);
    font-weight: 500;
    font-family: 'Montserrat';
    padding-bottom: 20px;
}
.paragraph{
    font-weight: 400;
    font-family: 'Montserrat';
	color: #666666;
}
footer, .privacy_policy{
	margin-top:25px;
}
footer a , .text_deco{
	text-decoration:underline;
}

	




/* Scroller in footer */
#scroll-to-top .col-md-12{
    text-align: center;
    color: #2595BF;
}

/* Home Page */
#home-page .parallax {
    background-image: url(../images/home-page-bg.jpg);
    height: 600px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 88px;
}

#home-page .parallax .overlay{
    width: 100%;
    height: 600px;
    background: rgba(0, 0, 0, .6);
}

#home-page .parallax .parallax-details{
    text-align: center;   
    padding-top: 50px;
}

#home-page .parallax .page-title-h1{
        color: #fff;
    font-size: 85px;
    font-weight: 400;
    line-height: 100px;
/*    padding-top: 120px;
    margin-left:100px;*/
}

#home-page .parallax .text-large{
        color: #fff;
    font-size: 21px;
    margin-top: 30px;
    margin-bottom: 60px;
    font-weight: normal;
}

#home-page .parallax .btn-primary{
    width: 337px;
    height: 56px;
    line-height: 56px;
    margin: 0;
    font-size: 16px;
    padding: 0;
    font-weight: 500;
    background-color: #1A95C1;
    border-color: #fff;
    border: 2px solid #fff;
    margin-bottom: 30px;
}
#home-page .parallax .btn-primary:hover{
    border-color: #1A95C1;
}

#home-page h1.heading{
        text-align: center;
            font-size: 38px;
/*            padding-top: 30px;*/
}
#home-page .large-font-paragraph{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #333333;
}

#home-page .border_bottom1{
    border-bottom: 2px solid #888;
}

#home-page .svg{
    width: 112px !important;
    height: 112px !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    float: none !important;
    top: 0px !important;
    left: 0px !important;
    position: relative !important;
    padding-top: 0px !important;
    padding-left: 0px !important;
    padding-bottom: 0px !important;
    margin-right: auto !important;
    margin-left: calc(100% - 112px) !important;
    max-width: 100% !important;
    padding-right: 0px !important;
    min-width: 0 !important;
    text-align: center !important;
    display: block !important;
        border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-color: rgba(234, 235, 237, 1) !important;
    border-top-color: rgb(234, 235, 237);
    border-right-color: rgb(234, 235, 237);
    border-bottom-color: rgb(234, 235, 237);
    border-left-color: rgb(234, 235, 237);
    border-width: 2px !important;
    -webkit-border-radius: 50% !important;
    border-style: solid !important;
    background-color: rgba(0, 0, 0, 0) !important;
}

#home-page .svg svg{
        height: 100%;
        font-weight: 300;
        width: 50% !important;
    color: rgba(158, 161, 164, 1) !important;
    fill: rgba(158, 161, 164, 1) !important;
}

#home-page .dmRespColsWrapper h3{
        color: #555;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
        margin-top: 0;
}
#home-page .dmRespColsWrapper p{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #333333;
}